* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #672280, 1.18%, #a626d3 100%);
}

form {
  margin-top: 100px;
  background-color: #fff;
  border: 3px solid;
  height: 70vh;
  width: 30vw;
}

form h1 {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
}

form div {
  display: grid;
  align-items: center;
  justify-content: center;
}

form div label {
  margin-bottom: 5px;
}

form div input {
  height: 25px;
  width: 300px;
}

form button {
  background-color: #a626d3;
  height: 25px;
  color: #ffff;
  cursor: pointer;
  font-weight: 600;
}

form button:hover {
  transition: all 0.3s ease;
  background-color: #fff;
  color: #a626d3;
}
